//
// OBJEXTS - FORMS
// --------------------------------------------------


label {
    color: $gray;
    font-weight: $bold;
    margin-left: 10px;
    text-transform: uppercase;
}

// Forms
//

.form-control,
input, {
  border-width: 2px;
  @include box-shadow(none);

  &:focus {
    @include box-shadow(none);
  }
}

.input-group-addon {
  color: white;
  font-size: $font-size-large;
  min-width: 80px;
}

.has-warning {
  .help-block,
  .control-label,
  .form-control-feedback {
    color: $brand-warning;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid $brand-warning;
  }

  .input-group-addon {
    border-color: $brand-warning;
  }
}

.has-error {
  .help-block,
  .control-label,
  .form-control-feedback {
    color: $brand-danger;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid $brand-danger;
  }

  .input-group-addon {
    border-color: $brand-danger;
  }
}

.has-success {
  .help-block,
  .control-label,
  .form-control-feedback {
    color: $brand-success;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid $brand-success;
  }

  .input-group-addon {
    border-color: $brand-success;
  }
}


// Checkboxes
//

.checkbox {
    padding-left: 20px;

    & label {
        display: inline-block;
        position: relative;
        padding-left: 5px;

        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 17px;
            height: 17px;
            left: 0;
            margin-left: -20px;
            border: 1px solid $input-border;
            border-radius: 3px;
            background-color: #fff;
            @include transition(border 0.15s ease-in-out, color 0.15s ease-in-out);
        }

        &:after {
            display: inline-block;
            position: absolute;
            width: 16px;
            height: 16px;
            left: 0;
            top: 0;
            margin-left: -20px;
            padding-left: 3px;
            padding-top: 1px;
            font-size: 11px;
            color: $gray;
        }
    }

    input[type="checkbox"] {
        opacity: 0;

        &:checked + label:after {
            font-family: $icon-font;
            content: $fa-var-check;
        }

        &:disabled + label {
            opacity: 0.65;

            &:before {
                background-color: $gray-lighter;
                cursor: not-allowed;
            }
        }

    }

    &.checkbox-circle label:before {
        border-radius: 50%;
    }

    &.checkbox-inline {
        margin-top: 0;
    }
}


// Radios
//

.radio {
    padding-left: 20px;

    & label {
        display: inline-block;
        position: relative;
        padding-left: 5px;

        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 17px;
            height: 17px;
            left: 0;
            margin-left: -20px;
            border: 1px solid $input-border;
            border-radius: 50%;
            background-color: #fff;
            @include transition(border 0.15s ease-in-out);
        }

        &:after {
            display: inline-block;
            position: absolute;
            content: " ";
            width: 11px;
            height: 11px;
            left: 3px;
            top: 3px;
            margin-left: -20px;
            border-radius: 50%;
            background-color: $gray;
            @include scale(0, 0);

            @include transition-transform(.1s cubic-bezier(.8,-0.33,.2,1.33));
            //curve - http://cubic-bezier.com/#.8,-0.33,.2,1.33
        }
    }

    input[type="radio"] {
        opacity: 0;

        &:checked + label:after {
            @include scale(1, 1);
        }

        &:disabled + label {
            opacity: 0.65;

            &:before {
                cursor: not-allowed;
            }
        }

    }

    &.radio-inline {
        margin-top: 0;
    }
}


/*
HTML Markup should look like this:

<form role="form">
...
<div class="checkbox">
<input type="checkbox" id="checkbox1">
<label for="checkbox1">
Check me out
</label>
</div>
...
</form>

<form role="form">
...
<div class="radio">
<input type="radio" name="radio2" id="radio3" value="option1">
<label for="radio3">
One
</label>
</div>
<div class="radio">
<input type="radio" name="radio2" id="radio4" value="option2" checked>
<label for="radio4">
Two
</label>
</div>
...
</form>

*/
