/*-----------------------------------*\
    OBJECTS - LAYOUT
\*-----------------------------------*/


.wrap {
    @include container();
}

.one-of-twelve {
    @include span(1 of 12);
}

.two-of-twelve {
    @include span(2 of 12);
}

.three-of-twelve {
    @include span(3 of 12);
}

.four-of-twelve {
    @include span(4 of 12);
}

.five-of-twelve {
    @include span(5 of 12);
}

.six-of-twelve {
    @include span(6 of 12);
}

.seven-of-twelve {
    @include span(7 of 12);
}

.eight-of-twelve {
    @include span(8 of 12);
}

.nine-of-twelve {
    @include span(9 of 12);
}

.ten-of-twelve {
    @include span(10 of 12);
}

.eleven-of-twelve {
    @include span(11 of 12);
}

.last {
    @include: last;
}
