//
// SETTINGS - COLORS
// --------------------------------------------------


// Logo
//

$dark-purple: #7C00A0;
$neon-purple: #AF1CD3;
$light-purple: #E24FFF;
$pink: #FFE8FF;
$sky-blue: #90CFF1;


// Grays
//

$dark-gray: #3C3B3D;
$medium-gray: #6F6D70;
$light-gray: #D3D0D6;
$off-white: #FAFAFA;


// Others
//

$red: #EF4C4C;
$green: #4EE471;
$yellow: #F39C12;


// Colors
//

//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            darken($dark-gray, 20%);
$gray-dark:              $dark-gray;
$gray:                   $medium-gray;
$gray-light:             $light-gray;
$gray-lighter:           $off-white;

$brand-primary:         $dark-purple;
$brand-success:         $green;
$brand-info:            $sky-blue;
$brand-warning:         $yellow;
$brand-danger:          $red;


// Scaffolding
// --------------------------------------------------

//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               white;
//** Global text color on `<body>`.
$text-color:            $gray-dark;

//** Global textual link color.
$link-color:            $brand-primary;
//** Link hover color.
$link-hover-color:      $neon-purple;
//** Link hover decoration.
$link-hover-decoration: none;

//** Hr color
$hr-border: $gray-light;


// Form states and alerts
//

//## Define colors for form feedback states and, by default, alerts.

$state-color-text:               white;

$state-success-text:             $state-color-text;
$state-success-bg:               $brand-success;
$state-success-border:           $brand-success;

$state-info-text:                $state-color-text;
$state-info-bg:                  $brand-info;
$state-info-border:              $brand-info;

$state-warning-text:             $state-color-text;
$state-warning-bg:               $brand-warning;
$state-warning-border:           $brand-warning;

$state-danger-text:              $state-color-text;
$state-danger-bg:                $brand-danger;
$state-danger-border:            $brand-danger;


// Components
//

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:    white;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       $brand-primary !default;
