//
// SETTINGS - GLOBAL
// --------------------------------------------------


// Google Fonts
// --------------------------------------------------

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);


// Typography
// --------------------------------------------------
$open-sans: 'Open Sans', sans-serif;


// Font weights
// --------------------------------------------------
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;


// Base Font
// --------------------------------------------------
$base-font-family: $open-sans;

$base-font-size: 14px;
$h1-font-size: $base-font-size * 2.5;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 0.75;
$h4-font-size: $base-font-size;
$h5-font-size: $base-font-size;
$h6-font-size: $base-font-size;

$base-font-weight: $regular;
$h1-font-weight: $bold;
$h2-font-weight: $semibold;

$h3-text-transform: uppercase;


// Line heiths
// --------------------------------------------------
$base-line-height: 1.4;


// Others
// --------------------------------------------------
$base-spacing: $base-line-height * 1em;
$base-border-radius: 4px;
$base-z-index: 0;


// Buttons
// --------------------------------------------------
$btn-font-family: $base-font-family;
$btn-font-size: $base-font-size;
$btn-font-weight: $regular;
$btn-line-height: 1;
$btn-border-radius: $base-border-radius;
$btn-vertical-padding: 20px;
$btn-horizontal-padding: 30px;
$btn-text-transform: uppercase;
$btn-box-shadow-v: 3px;


// Pagination
// --------------------------------------------------
$pagination-font-family: $base-font-family;
$pagination-font-size: $base-font-size;
$pagination-font-weight: $regular;
$pagination-line-height: 1;
$pagination-border-radius: $base-border-radius;
$pagination-padding: 5px;
$pagination-horizontal-margin: 2px;
$pagination-text-transform: uppercase;


// Breadcrumbs
// --------------------------------------------------
$breadcrumbs-font-family: $base-font-family;
$breadcrumbs-font-size: $base-font-size;
$breadcrumbs-font-weight: $regular;
$breadcrumbs-line-height: 1;
$breadcrumbs-border-radius: $base-border-radius;
$breadcrumbs-vertical-padding: 5px;
$breadcrumbs-horizontal-padding: 8px;
$breadcrumbs-horizontal-margin: 2px;
$breadcrumbs-text-transform: uppercase;
$before-breadcrumbs-margin: 10px;


// Helpers
// --------------------------------------------------
$bg-border-radius: $base-border-radius;
$bg-font-family: $base-font-family;
$bg-font-size: $base-font-size;
$bg-font-weight: $regular;
$bg-line-height: 1;
$bg-padding: 15px;
