//
// SETTINGS - NAVIGATION
// --------------------------------------------------


// Navbar
//


// Basics of a navbar
$navbar-height:                    60px;
$navbar-margin-bottom:             $line-height-computed !default;
$navbar-border-radius:             $border-radius-base !default;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;
$navbar-padding-vertical:          10px;
$navbar-collapse-max-height:       340px !default;

$navbar-default-color:             $gray-dark;
$navbar-default-bg:                $gray-lighter;
$navbar-default-border:            $gray-light;


// Navbar links
$navbar-default-link-color:                $gray;
$navbar-default-link-hover-color:          $gray-dark;
$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         $gray-dark;
$navbar-default-link-active-bg:            transparent;
$navbar-default-link-disabled-color:       $gray-light;
$navbar-default-link-disabled-bg:          transparent !default;


// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         $navbar-default-link-color;
$navbar-default-brand-hover-bg:            $navbar-default-link-hover-bg;


// Navbar toggle
$navbar-default-toggle-hover-bg:           $navbar-default-link-hover-bg;
$navbar-default-toggle-icon-bar-bg:        $navbar-default-link-hover-bg;
$navbar-default-toggle-border-color:       transparent;


// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      lighten($gray-light, 15%) !default;
$navbar-inverse-bg:                         #222 !default;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%) !default;


// Inverted navbar links
$navbar-inverse-link-color:                 lighten($gray-light, 15%) !default;
$navbar-inverse-link-hover-color:           #fff !default;
$navbar-inverse-link-hover-bg:              transparent !default;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%) !default;
$navbar-inverse-link-disabled-color:        #444 !default;
$navbar-inverse-link-disabled-bg:           transparent !default;


// Inverted navbar brand label
$navbar-inverse-brand-color:                $navbar-inverse-link-color !default;
$navbar-inverse-brand-hover-color:          #fff !default;
$navbar-inverse-brand-hover-bg:             transparent !default;


// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #333 !default;
$navbar-inverse-toggle-icon-bar-bg:         #fff !default;
$navbar-inverse-toggle-border-color:        #333 !default;


// Navs
//


// Shared nav styles
$nav-link-padding:                          10px 15px !default;
$nav-link-hover-bg:                         $gray-lighter !default;

$nav-disabled-link-color:                   $gray-light !default;
$nav-disabled-link-hover-color:             $gray-light !default;


// Tabs
$nav-tabs-border-color:                     #ddd !default;

$nav-tabs-link-hover-border-color:          $gray-lighter !default;

$nav-tabs-active-link-hover-bg:             $body-bg !default;
$nav-tabs-active-link-hover-color:          $gray !default;
$nav-tabs-active-link-hover-border-color:   #ddd !default;

$nav-tabs-justified-link-border-color:            #ddd !default;
$nav-tabs-justified-active-link-border-color:     $body-bg !default;


// Pills
$nav-pills-border-radius:                   0;
$nav-pills-active-link-hover-bg:            $component-active-bg !default;
$nav-pills-active-link-hover-color:         $component-active-color !default;
