//
// SETTINGS - TYPOGRAPHY
// --------------------------------------------------


// Google Fonts
//

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

//## Font, line-height, and color for body text, headings, and more.

$open-sans: 'Open Sans', sans-serif;
$icon-font: 'FontAwesome';

// Font weights
//

$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $open-sans;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.5)); // ~35px
$font-size-h2:            floor(($font-size-base * 2)); // ~24px
$font-size-h3:            ceil(($font-size-base * 0.75)); // ~10px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    bold;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;
