//
// COMPONENTS - BUTTONS
// --------------------------------------------------

// Base Styles
// --------------------------------------------------
.btn {
    -webkit-font-smoothing: antialiased;
    @include appearance(none);
    background-color: $btn-background-color;
    border-radius: $btn-border-radius;
    border: none;
    color: $btn-color;
    cursor: pointer;
    display: inline-block;
    font-family: $btn-font-family;
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    padding: $btn-vertical-padding $btn-horizontal-padding;
    text-decoration: none;
    text-transform: $btn-text-transform;
    @include user-select(none);
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: 0 $btn-box-shadow-v 0 $btn-box-shadow-color;

    &:hover,
    &:focus {
        background-color: $hover-btn-background-color;
        color: $hover-btn-color;
        box-shadow: 0 $btn-box-shadow-v 0 $hover-btn-box-shadow-color;
    }

    &:active {
        background-color: $hover-btn-background-color;
        color: $hover-btn-color;
        box-shadow: none;
    }

    &:disabled {
        cursor: not-allowed;
        background-color: $disabled-btn-background-color;
        color: $disabled-btn-color;
    }
}

// Secondary Styles
// --------------------------------------------------
.btn--secondary {
    background-color: transparent;
    border: 1px solid $btn--secondary-color;
    color: $btn--secondary-color;
    box-shadow: none;

    &:hover,
    &:focus,
    &:active {
        background-color: transparent;
        border: 1px solid $hover-btn--secondary-color;
        color: $hover-btn--secondary-color;
    }

    &:disabled {
        cursor: not-allowed;
        border: $disabled-btn--secondary-color;
        color: $disabled-btn--secondary-color;
    }
}

.btn--grey {
    background-color: $btn--grey-background-color;
    color: $btn--grey-color;
    box-shadow: 0 $btn-box-shadow-v 0 $btn--grey-box-shadow-color;

    &:hover,
    &:focus {
        background-color: $hover-btn--grey-background-color;
        box-shadow: 0 $btn-box-shadow-v 0 $hover-btn--grey-box-shadow-color;
        color: $hover-btn--grey-color;
    }

    &:active {
        background-color: $hover-btn--grey-background-color;
        box-shadow: none;
        color: $hover-btn--grey-color;
    }

    &:disabled {
        cursor: not-allowed;
        background-color: $disabled-btn-background-color;
        color: $disabled-btn-color;
    }
}
