.text--muted { color: $text-muted-color; }

.text--primary { color: $text-primary-color; }

.text--success { color: $text-success-color; }

.text--info { color: $text-info-color; }

.text--warning { color: $text-warning-color; }

.text--danger { color: $text-danger-color; }


.bg {
    border-radius: $bg-border-radius;
    border: none;
    display: inline-block;
    font-family: $bg-font-family;
    font-size: $bg-font-size;
    font-weight: $bg-font-weight;
    line-height: $bg-line-height;
    padding: $bg-padding;
    vertical-align: middle;
    white-space: nowrap;

}

    .bg--primary {
        background-color: $bg-primary-background-color;
        color: $bg-primary-color;
    }

    .bg--success {
        background-color: $bg-success-background-color;
        color: $bg-success-color;
    }

    .bg--info {
        background-color: $bg-info-background-color;
        color: $bg-info-color;
    }

    .bg--warning {
        background-color: $bg-warning-background-color;
        color: $bg-warning-color;
    }

    .bg--danger {
        background-color: $bg-danger-background-color;
        color: $bg-danger-color;
    }
