nav[role="pagination"] {
    text-align: center;
    padding: 20px;
}



    .pagination__list {
        list-style: none;

    }

        .pagination__item {
            display: inline-block;
        }

            .pagination__link {
                -webkit-font-smoothing: antialiased;
                @include appearance(none);
                background-color: transparent;
                border-radius: $pagination-border-radius;
                border: 1px solid $pagination-color;
                color: $pagination-color;
                cursor: pointer;
                font-family: $pagination-font-family;
                font-size: $pagination-font-size;
                font-weight: $pagination-font-weight;
                line-height: $pagination-line-height;
                margin: 0 $pagination-horizontal-margin;
                padding: $pagination-padding;
                text-decoration: none;
                text-transform: $pagination-text-transform;
                @include user-select(none);
                vertical-align: middle;
                white-space: nowrap;

                &:hover,
                &:focus {
                    background-color: $hover-pagination-background-color;
                    color: $hover-pagination-color;
                }

                &.current {
                    background-color: $hover-pagination-background-color;
                    color: $hover-pagination-color;
                    border: none;
                }

                &.disabled {
                    background-color: $disabled-pagination-background-color;
                    color: $disabled-pagination-color;
                    border: none;
                    cursor: not-allowed;
                }
            }
