//
// COMPONENTS - VIEWS
// --------------------------------------------------


// Layout

main {
  padding: 82px 20px 0 270px;
}


// Avatar

.gravatar { border-radius: 50%; }


// View

.v-info {
  margin-bottom: 2px;
  margin-top: 2px;

  &--name {
    color: $gray-light;
    font-size: $font-size-large;
  }
}

.client-link {
  color: $gray;
  font-size: $font-size-large;
  font-weight: $semibold;

  &:hover,
  &:active {
    color: $neon-purple;
  }

}

.invoice--is-sent { color: $green; }

.invoice--is-overdue { color: $red; }

.invoice--is-paid { color: $brand-primary; }

.invoice-number {
  color: $gray-light;
  font-size: $font-size-small;
  font-weight: $regular;
  line-height: 1;
  margin-top: -10px;
  text-transform: uppercase;
}

.note-info {
  color: $gray-light;
  font-size: $font-size-small;
}

// Comments

.panel-body a {
  color: $panel-link-color;
  font-weight: $semibold;
  text-decoration: none;
  position: relative;
  @if $breaking-underlines {
    text-shadow: -1px -1px 0 $panel-bg, 1px -1px 0 $panel-bg, -1px 1px 0 $panel-bg, 1px 1px 0 $panel-bg;
  }
  @include underline($panel-link-color);
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    @include underline($panel-link-color, 0.5);
  }
  &:hover,
  &:focus {
    color: $panel-link-color-active;
    @include underline($panel-link-color-active);
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      @include underline($panel-link-color-active, 0.5);
    }
  }
}
