@import "variables";
@import "mixins";
@import "scaffolding";

/* miscellaneous */
body {
  padding-top: 70px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}