/* MAIN COLORS */

// Purple
$purple-dark: #7c00a0;
$purple-light: #af1cd3;

// Pink
$pink-dark: #e24fff;
$pink-light: #ffe8ff;

// Blue
$blue: #90cff1;

// Gray tones
$black: #3c3b3d;
$gray: #6f6d70;
$light-gray: #d3d0d6;
$light-light-gray: #fafafa;
$white: #ffffff;

// Others
$red: #ef4c4c;
$green: #4ee471;
$yellow: #fbdb2a;





